.headerbanner {
    width:100%;    
}

.headerbanner img {
    width: 80%;
    margin: 5% 10% 0 10%;
}

html,
body {
    /*height: 100%;*/
    /*background-color: rgb(187, 217, 243);*/
    background-image:  linear-gradient(white, rgb(187, 217, 243));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blurbcontainer {   
    width: max(40%,550px); 
    margin: 0 2% 4% 2%;
}

.blurbcontainer h4 {
    width: 100%;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
}

.blurbcontainer p {
    width: 100%;
    font-size: 18px;
    margin: 2% auto;
    text-align: center;
}

.clockscontainer {    
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 4% 10%;   
    align-items: center;     
    justify-content: center;
}

.clockicon {
    width:220px;
    color: white;
    margin:auto;
}

@media (min-width: 1107px) {
    .clockscontainer {
        flex-direction: row-reverse;
        height: 300px;
    }
}

.clockscontainer canvas {
    margin: auto;
}

.footericons {
    text-align: center;
    margin-bottom: 20px;
}

.footericons img {
    width:48px;
    color: #FFFFFF;
    margin:20px;    
}