vec4 pal( in float t, in vec3 a, in vec3 b, in vec3 c, in vec3 d )
{
    vec3 cc = a + b*cos( 6.28318*(c*t+d) );

    return vec4(cc.x,cc.y,cc.z,1.);
}

void mainImage( out vec4 fragColor, in vec2 fragCoord )
{
    float zoom = 0.0061;

    vec2 uv = (fragCoord.xy-.5*iResolution.xy) / iResolution.y;

    uv.x -= 0.02/ zoom;
    uv.y -= 0.3426/ zoom;

    vec2 c = uv*zoom*3.;
    c+=vec2(-0.69955, 0.37999);

    vec2 z = vec2(0.);
    float iter = 0.;

    const float max_iter = 30.;

    //float t = 1.9 + sin(iTime*0.2)*1.04;
    float t = -0.25-abs(sin(iTime*0.005))/14.;

    float xmax = 0.;

    for(float i=0.; i<max_iter; i++) {
           z=vec2(z.x*z.x - z.y*z.y, t*z.x*z.y) + c;
           if (z.x>
    xmax) xmax = z.x;

    if (pow(z.x,z.y)>100.) break;

    iter++;
    }

    float f = iter/max_iter;

    vec4 cols = vec4(f);

    cols *= pal( uv.x/1.4, vec3(0.968,1.638,1.598),vec3(0.148,0.588,-0.412),vec3(0.698,0.248,0.208),vec3(3.138,3.472,3.805));

    uv.x += 0.02/ zoom;
    uv.y += 0.3426/ zoom;
