float Hash21(vec2 p) {
    p = fract(p*vec2(234.34, 435.345));
    p += dot(p, p+34.23);
    return fract(p.x*p.y);
}

vec4 pal( in float t, in vec3 a, in vec3 b, in vec3 c, in vec3 d )
{
    vec3 cc = a + b*cos( 6.28318*(c*t+d) );

    return vec4(cc.x,cc.y,cc.z,1.);
}

mat2 rotationMatrix(float angle)
{
	angle *= pi / 180.0;
    float s=sin(angle), c=cos(angle);
    return mat2( c, -s, s, c );
}

void mainImage( out vec4 fragColor, in vec2 fragCoord )
{
    vec2 uv = (fragCoord-.5*iResolution.xy)/iResolution.y;

    vec2 origuv = fragCoord.xy/iResolution.xy; //original uvs for actual pixels

    vec4 cols = vec4(0);

    //uv.xy += sin(iTime*0.15)*cos(iTime*0.17); //pan
    uv.xy *= abs((sin(iTime*0.01))) + .5; //zoom

    uv *= rotationMatrix( 0.1 * iTime ) * 1.; //rotate

    uv *= 20.;
    vec2 gv = fract(uv)-.5;
    vec2 id = floor(uv);
    //col.rg = gv;
    float n = Hash21(id); //random no 0 to 1

    float width = .5;
    if (n<.5) gv.x *= -1.; //flip half random tiles

    //generate truchet pattern
    float d = abs(abs(gv.x + gv.y) - .5);

    vec2 cUv = gv-.5*sign(gv.x + gv.y+.001);

    d = length(cUv);

    float mask = smoothstep(.01, -.01, abs(d-.5)-width);

    float angle = atan(cUv.x, cUv.y);

    float checker = mod(id.x+id.y, 2.)*2. - 1.; //identify checkerboard alternate tiles

    float flow = sin(checker*angle*10.+iTime*2.); //flow multiplied by checker to make consistent flow

    float x = fract(angle/1.57); //x dim is length of line
    float y = (d-(.5-width))/(width*2.); //y dim is shading on width of line
    y = min(1.-abs(y-.5)*2., 0.9);


    cols += y*mask;    

    vec2 p = uv.xy /40.; //multiplier to get the pallete correct

    p.x = (p.x + 0.5); //offset to go back to 0 to 1 coords?
    
    cols *= pal( p.x*3., vec3(0.978,0.218,0.338),vec3(-0.012,0.738,0.598),vec3(-0.812,-0.162,0.228),vec3(3.138,3.138,3.805));
    cols += (1.-y)*vec4(1.0);    

    uv /= 12.;
