gl.viewport(0, 0, gl.canvas.width, gl.canvas.height);
gl.useProgram(program);
gl.enableVertexAttribArray(positionAttributeLocation);
gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
gl.vertexAttribPointer(
    positionAttributeLocation,
    2,
    gl.FLOAT,
    false,
    0,
    0,
);
gl.uniform2f(resolutionLocation, gl.canvas.width, gl.canvas.height);
gl.uniform1f(timeLocation, time);
var d = new Date();
gl.uniform4f(dateLocation, d.getFullYear(), d.getMonth(), d.getDate(), d.getSeconds() + d.getMinutes() * 60 + d.getHours() * 60 * 60 + (d.getMilliseconds() / 1000));
gl.drawArrays(
    gl.TRIANGLES,
    0,
    6,
);