            function cs(e, t, r) { var a = e.createShader(t); if (e.shaderSource(a, r), e.compileShader(a), e.getShaderParameter(a, e.COMPILE_STATUS)) return a; e.deleteShader(a) } function cp(e, t, r) { var a = e.createProgram(); if (e.attachShader(a, t), e.attachShader(a, r), e.linkProgram(a), e.getProgramParameter(a, e.LINK_STATUS)) return a; e.deleteProgram(a) }
            const vs = `
                attribute vec4 a_position;

                void main() {
                  gl_Position = a_position;
                }
              `;

const fs = `
precision highp float;

uniform vec2 iResolution;
uniform float iTime;
uniform vec4 iDate;

#define t iTime
#define r iResolution.xy
#define pi 3.1415

int mod(int x, int y)
{
    float f = float(x)/float(y);
    return x - y * int(floor(f));
}

float line(vec2 lP, vec2 lA, vec2 lB, float lr, float ls)
{
    vec2 g = lB - lA;
    vec2 h = lP - lA;
    float d = length(h - g * clamp(dot(g, h) / dot(g,g), 0.0, 1.0));
	return smoothstep(lr, ls*lr, d);
}

{{#background#}}

    if (distance(uv, vec2(0,0))*2. > 1.) cols.a = 0.;

    fragColor = cols;
}

void main() {
    mainImage(gl_FragColor, gl_FragCoord.xy);

    vec4 o;
    for (int k=0; k <9; k++ )
    { mainImage(o,gl_FragCoord.xy+vec2(mod(k,3)-1,k/3-1)/3.); gl_FragColor +=o; }
    gl_FragColor/=9.;
    }
`;
var vertexShader=cs(gl, gl.VERTEX_SHADER, vs);
var fragmentShader=cs(gl, gl.FRAGMENT_SHADER, fs);
const program=cp(gl, vertexShader, fragmentShader);
const positionAttributeLocation=gl.getAttribLocation(program, "a_position" );
const resolutionLocation=gl.getUniformLocation(program, "iResolution" );
const timeLocation=gl.getUniformLocation(program, "iTime" );
const dateLocation=gl.getUniformLocation(program, "iDate" );
const positionBuffer=gl.createBuffer();
gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
gl.bufferData(gl.ARRAY_BUFFER, new Float32Array([
-1, -1,
1, -1,
-1, 1,
-1, 1,
1, -1,
1, 1,
]), gl.STATIC_DRAW);