ctx.translate(r, r);

function drawHand(ctx, pos, length, width, transparentratio, colour, thickness) {
    ctx.strokeStyle = {{#handcolour#}};
    ctx.lineCap = "round";

    var positiveang = 2 * Math.PI * pos - Math.PI / 2;
    var endang = Math.PI - positiveang - 90 * Math.PI / 180;
    var x = length * Math.sin(endang) / Math.sin(90 * Math.PI / 180);
    var y = length * Math.sin(positiveang) / Math.sin(90 * Math.PI / 180);

    ctx.beginPath();
    ctx.moveTo(-x*0.1,-y*0.1);
    ctx.lineWidth = width * thickness;
    ctx.lineTo(x, y);
    ctx.stroke();
}

var now = new Date(); var hour = now.getHours(); var minute = now.getMinutes(); var second = now.getSeconds();
hour = hour % 12;
hour = hour + minute / 60 + second / (60 * 60);
hour = hour / 12;

var ang = now.getHours() % 12 * 30 + (now.getMinutes() * 0.5) - 90;
//ctx.save();

ctx.shadowBlur = 5; ctx.shadowColor = ({{#handcolour#}} != '#EEE' ? '#22222233' : '#00000000'); ctx.shadowOffsetX = -4; ctx.shadowOffsetY = 3;

//if (this.handsCentreType == "circle" || this.handsCentreType == "circle") { this.ctx.beginPath(); this.ctx.arc(0, 0, this.radius * 0.05, 0, 2 * Math.PI); this.ctx.fillStyle = (this.hourHandType == "cutout" ? this.clockColour : this.handsColour); this.ctx.fill() }

drawHand(ctx, hour, r * 0.45, r * 0.02, 0, null, 2);

//minute %
minute = minute + second / 60;
minute = minute / 60;
drawHand(ctx, minute, r * 0.65, r * 0.02, 0, null, 2);