ctx.shadowBlur = 1; ctx.shadowColor = '#00000000'; ctx.shadowOffsetX = -1; ctx.shadowOffsetY = 1;
ctx.translate(r, r);
var ang; var num; ctx.font = r * 0.15 + "px arial"; ctx.textBaseline = "middle"; ctx.textAlign = "center"; ctx.strokeStyle = {{#handcolour#}}; ctx.fillStyle = {{#handcolour#}};
ctx.font = r * 0.22 + "px arial";

for (num = 1; num < 61; num++) {
    ang = num * Math.PI / 30; ctx.rotate(ang); var width = (num >= 10 ? 0.16 : 0.11);
    ctx.beginPath();

    ctx.translate(0, -r * 0.95);

    if (num % 5 == 0) {
        ctx.lineWidth = 2;
        ctx.lineTo(0, -8 * r / 300);
        ctx.lineTo(0, 8 * r / 300);
        ctx.stroke();
    }
    else {
        ctx.arc(0, 0, 1 * r / 300, 0, 360);
        ctx.fill();
    }
    ctx.translate(0, r * 0.95);
    ctx.rotate(-ang)
}


ctx.translate(-r, -r);