ctx.shadowBlur = 1; ctx.shadowColor = '#00000088'; ctx.shadowOffsetX = -1; ctx.shadowOffsetY = 1;
ctx.translate(r, r);
var ang; var num; ctx.font = r * 0.15 + 'px arial'; ctx.textBaseline = 'middle'; ctx.textAlign = 'center'; ctx.fillStyle = {{#handcolour#}};
ctx.font = ctx.font = r * 0.16 + 'px sans-serif'; for (num = 1; num < 13; num++) {
    ang = num * Math.PI / 6; ctx.rotate(ang); ctx.translate(0, -r * 0.87); var width = (num >= 10 ? 0.16 : 0.11);
    ctx.rotate(-ang); ctx.fillText(num, 0, 0, r * width);  ctx.rotate(ang); ctx.translate(0, r * 0.87); ctx.rotate(-ang)
}
ctx.translate(-r, -r);           