ctx.shadowBlur = 1; ctx.shadowOffsetX = -1; ctx.shadowOffsetY = 1;
ctx.translate(r, r);
var ang; var num; ctx.textBaseline = 'middle'; ctx.textAlign = 'center'; ctx.fillStyle = {{#handcolour#}};
for (num = 1; num < 13; num++) {
    ang = num * Math.PI / 6; ctx.rotate(ang); var width = (num >= 10 ? 0.16 : 0.11);
    if (num % 3 == 0) {
        ctx.shadowColor = '#00000088';
        ctx.translate(0, -r * 0.87);
        ctx.font = r * 0.16 + 'px sans-serif';
        ctx.rotate(-ang);
        ctx.fillText(num, 0, 0, r * width);
        ctx.rotate(ang);
        ctx.translate(0, r * 0.87);
    }
    else {
        ctx.shadowColor = '#00000022';
        ctx.translate(0, -r * 0.89);
        ctx.font = r * 0.07 + 'px sans-serif';
        ctx.fillText('|', 0, 0, r * width);
        ctx.translate(0, r * 0.89);
    }
        ctx.rotate(-ang)

    ctx.stroke();
}
ctx.translate(-r, -r);