ctx.shadowBlur = 1; ctx.shadowColor = '#00000088'; ctx.shadowOffsetX = -1; ctx.shadowOffsetY = 1;
ctx.translate(r, r);
var ang; var num; ctx.font = r * 0.15 + "px arial"; ctx.textBaseline = "middle"; ctx.textAlign = "center"; ctx.fillStyle = {{#handcolour#}};
ctx.font = r * 0.25 + "px times new roman"; for (num = 1; num < 13; num++) {
    ang = num * Math.PI / 6; ctx.rotate(ang); ctx.translate(0, -r * 0.85); var text = ""; var width = 0.11; switch (num) {
        case 1:
            text = " I ";
            break;
        case 2:
            text = "II ";
            break;
        case 3:
            text = "III";
            break;
        case 4:
            text = "IV";
            break;
        case 5:
            text = " V ";
            break;
        case 6:
            text = "VI";
            break;
        case 7:
            text = "VII";
            break;
        case 8:
            text = "VIII";
            width = 0.15;
            break;
        case 9:
            text = "IX ";
            break;
        case 10:
            text = " X ";
            break;
        case 11:
            text = "XI ";
            break;
        case 12:
            text = "XII";
            break;
        default:
            break;
    }
    ctx.fillText(text, 0, 0, r * width); ctx.rotate(-ang); ctx.rotate(ang); ctx.translate(0, r * 0.85); ctx.rotate(-ang)
}
ctx.translate(-r, -r);