<script type="text/javascript">
    canvas = document.createElement('canvas');
    canvas.width = 550;
    canvas.height = 550;
    canvas.style.width = '100vw';
    canvas.style.height = '100vh';
    canvas.getContext('2d').scale(2, 2);

    function refresh() {
        var c = canvas;
        var ctx = c.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.beginPath();
        var grd = ctx.createLinearGradient(0, 0, Math.floor(Math.random() * 550), Math.floor(Math.random() * 550));
        grd.addColorStop(Math.random(), "#ffb3ba");
        grd.addColorStop(Math.random(), "#ffdfba");
        grd.addColorStop(Math.random(), "#ffffba");
        grd.addColorStop(Math.random(), "#baffc9");
        grd.addColorStop(Math.random(), "#bae1ff");

        ctx.fillStyle = grd;
        ctx.fillRect(0, 0, 550, 550);

        var cxt = c.getContext("2d");
        var centerX = Math.floor(Math.random() * 200);
        var centerY = Math.floor(Math.random() * 350);
        cxt.moveTo(centerX, centerY);

        var gap = Math.floor(Math.random() * 1) + .005; // increase this for spacing between spiral lines also bigger smaller
        var STEPS_PER_ROTATION = Math.floor(Math.random() * 500) + 1; // increasing this makes the curve smoother

        var increment = Math.floor(Math.random() * 400) + .01 * Math.PI / STEPS_PER_ROTATION;//lower=darker
        var theta = increment;
        while (theta < Math.floor(Math.random() * 150) + 35000) {//bigger or smaller
            var newX = centerX + theta * Math.cos(theta) * gap;
            var newY = centerY + theta * Math.sin(theta) * gap;
            cxt.lineTo(newX, newY);
            theta = theta + increment;
        }
        ctx.strokeStyle = "#000000";
        ctx.lineWidth = .5;
        ctx.stroke(); // draw

        setInterval(function () {
            currentmins = new Date().getMinutes();
            if (lastmins != currentmins) {
                lastmins = currentmins;
                refresh();
            }
        }, 1000);
    }

    var lastmins = new Date().getMinutes();
    var currentmins = lastmins;
    refresh();
</script>