<html style="height:100%; background:{{#backgroundcolour#}}">
<body style="margin:0;height:80%;padding:5%">    
    <canvas style="display:block; margin: 0 auto; border-radius: 50%;" id="canvas"></canvas>    

    {{#externalnft#}}

    <script>        
        var cvs;
        function main() {            
            cvs = document.querySelector("#canvas");
            var webGL = document.createElement("canvas");
            const b = document.body;
            var ctx = cvs.getContext("2d");
            const gl = webGL.getContext("webgl");

            {{#glshaderdef#}}

            let requestId;
            function rf() {
                if (!requestId) {
                    requestId = requestAnimationFrame(render);
                }
            }
            function cf() {
                if (requestId) {
                    cancelAnimationFrame(requestId);
                    requestId = undefined;
                }
            }
            setInterval(rf, 10);
            let then = 0;
            let time = 0;

            function rc() {
                var r = cvs.width / 2;

                {{#backgrounddraw#}}                                       
            
                {{#numbers#}}
                {{#hands#}}
            }

            function render(now) {
                //var s = (b.clientWidth < b.clientHeight ? b.clientWidth : b.clientHeight) * 0.9;
                var s = (b.clientWidth < b.clientHeight ? b.clientWidth : b.clientHeight);
            
                cvs.style.width = s;
                cvs.style.height = s;
                cvs.width = s;
                cvs.height = s;
                webGL.width = s * 2;
                webGL.height = s * 2;

                requestId = undefined;
                now *= 0.001;
                const elapsedTime = Math.min(now - then, 0.1);
                time += elapsedTime;
                then = now;

                {{#glshaderrender#}}
                
                rf();

                rc();            
            }
            rf();
            requestAnimationFrame(cf);
    }
    main();
    </script>
</body>
</html>